body{
    margin: 0;
}



.nickname{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: rgb(66, 66, 66);
    }

    .password{
        
        position: relative;
        top: 30px;
    }

.forgot{
    color: rgb(0, 132, 255);
    font-weight: 200;
    margin: 15px;
}

.form{
    background-color: rgb(245, 245, 245);
    padding: 50px;
    border:1px solid rgb(219, 219, 219) ;
    border-radius: 2px;
}


input{
    margin: 5px 0px;
    width:300px;
    height: 20px;
    border: 0.5px solid #e2e2e2;
    padding: 5px;
}

.signIn{
    margin-top:50px ;
    font-size: 15px;
    padding: 2% 18%;
     background-color: rgb(0, 132, 255);
     border: none;
     color: floralwhite;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: 1px solid;
    justify-content: center;
}


